# Environment variables
.env

# Virtual environment
.venv/
env/
venv/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Database and RAG Data
chroma_db/
config/vector_store/*
config/ReferenceDoc/*
!config/vector_store/.gitkeep
!config/ReferenceDoc/.gitkeep

# OS specific
.DS_Store
Thumbs.db
